<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
<h1>Add Book Page</h1><br>
<a href="/add_author">Add author</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/">Show all books</a><br>
  <form action="/add_book" method="POST">
  <label for="authors">Authors</label>
    <select name="authors" id="authors">
    {% for author in authors %}
    <option value="{{author.id}}">{{author.name}}</option>
    {% endfor %}
  </select><br>


    <label for="isbn">ISBN</label>
    <input type="text" name="isbn" id="isbn" required><br>
    <label for="title">Title</label>
    <input type="text" name="title" id="title" required><br>
    <label for="publication_year">Publication year</label>
    <input type="text" name="publication_year" id="publication_year" required><br>
    <label for="cover">Cover</label>
    <input type="text" name="cover" id="cover">

    <input type="submit" value="Add book">
  </form><br>


  <div>
    {% if msg %}
    <h2>{{msg}}</h2> </div>
<a href="/">Show all books</a><br>
    {% endif %}
  </body>
</html>
