<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
  <h1>Book library Homepage</h1><br>
<form action="/search" name="search" method="post" >
  <label for="search">Search</label>
  <input type="text" name="search" id="search">
  <input type="submit" value="search">
</form><br>
<form action="/sort_by_title" name="by_title" method="post">
    <input value="sort by title" type="submit">
</form>

<form action="/sort_by_author" name="by_author" method="post">
    <input value="sort by author" type="submit">
</form>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/add_book">Add book</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="/authors">View authors</a>
    {% for book, author in books %}
  <p><b><em>{{ book.title }}</em></b><br> by <b>{{ author.name }}</b> published in <b>{{book.publication_year}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  ISBN: {{book.isbn}}</b></p>
  <img src="{{book.cover}}">
    <form method="post" action="/book/{{book.id}}/delete">
        <input value="Delete" type="submit">
    </form>
  <h1>------------------------------------------</h1>
  <br>
    {% endfor %}
  <br>
{% if msg %}
<h1>{{msg}}</h1>
{% endif %}
  </body>
</html>