<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  </head>
  <body>
<form action="/search" name="search" method="post" >
  <label for="search">Search</label>
  <input type="text" name="search" id="search">
  <input type="submit" value="search">
</form><br>
<form action="/sort_by_title" name="by_title" method="post">
    <input value="sort by title" type="submit">
</form>
    {% for book, author in books %}
    <p>{{ book.title }} by {{ author.name }}</p>
    <form method="post" action="/book/{{book.id}}/delete">
        <input value="Delete" type="submit">
    </form><br>
    {% endfor %}
  <br>

  </body>
</html>